{
  "extends": ["standard", "plugin:flowtype/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react", "flowtype"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": "error"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
